// FONTS IMPORT
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Mono:400,500|Roboto:400,700|Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i|Roboto+Slab');

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-ips;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  color: $color-ink;
  widows: 2;
  orphans: 2;
}
h1, h2, h3 {
  font-family: $font-rs;
  font-weight: normal;
  color: $color-blue;
}
h1 { font-size: $s-m; }
h2 { font-size: $s-b; }
h3 { font-size: $s-b; }
h4, h5, h6 {
  font-weight: normal;
}
a {
  color: $color-blue;
}
p {
  font-size: 1rem;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
