.wrapper {
  @extend .container;
  margin: 0 0 0 $s-xl;
  padding: $s-m $s-xxl $s-m $s-xxl;
}
.page-content {
  .wrapper {
    padding-top: $s-xxxl;
    min-height: 80vh;
    border-left: 1px solid $color-blue;
  }
}

footer {
  .wrapper {
    font-size: 0.8rem;
  }
}
